:local {
    .background {
        position: fixed !important;
        left: 0;
        right: 0;
        z-index: -1;
        object-fit: cover;
        object-position: top;
        width: 100vw !important;
        height: 100vh !important;
    }
}