.gear-pieces {

    // Display
    display: flex;

    // Position
    margin-top: 15px;
    margin-left: 50vw;

    // Flexbox
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
    // Transform
    transform: translateX(-50%);

}

:checked + div {

    // Other
    filter: brightness(1.5);

}

.gear-modifier-group > h3 {

    margin-block: 10px;

}

.gear-modifier-group > p {

    // Position
    margin-bottom: 10px;

    // Color
    color: var(--color-text-main);

}

.content-title {

    display: flex;

    justify-content: space-between;

}

.content-title .slider-container {
    
    align-items: flex-end;

}

