// Imports
@import '../style.scss';


/* Format footer */
footer {

  /* Display */
  display: flex;

  /* Position */
  padding-inline: 10px;

  /* Size */
  height: 50px;

  /* Font */
  font-size: 16px;

  /* Background */
  background-color: var(--background-color-main-75);

  /* Flexbox */
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  /* Border */
  box-shadow: -3px -3px 2.5px var(--background-color-main-75);

  // Media Query
  // @media (min-width: $large-screen-size) {
    


  // }

}


/* Style logo */
footer .navigation {

  /* Display */
  display: flex;

  /* Size */
  height: 100%;

  /* Font */
  font-family: var(--font-secondary);

  /* Flexbox */
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}

footer .navigation .logo {

  height: 70%;
  aspect-ratio: 800/746;

}


footer .navigation .menu {

  /* Display */
  display: flex;

  /* Flexbox */
  gap: 20px;

  & a {
    
    & i {

      display: inline-block;

      // Media Query
      @media (min-width: $large-screen-size) {

        display: none;

      }

    }
    
    & span {

      display: none;

      // Media Query
      @media (min-width: $large-screen-size) {

        display: inline-block;

      }

    }

  }

}


/* Format copyright */
footer .copyright {

  /* Font */
  font-size: 14px;
  color: var(--color-text-main);

}