// Initiate variables
$large-screen-size: 1000px;


/* Style header */
header {

  // Display
  display: flex;

  // Position
  padding-inline: 10px;

  // Size
  height: 75px;

  // Font
  font-family: var(--font-secondary);
  color: var(--color-main);

  // Background
  background-color: var(--background-color-main-75);

  // Flexbox
  justify-content: space-between;
  align-items: center;


  // Media Query
  @media (min-width: $large-screen-size) {

    // Position
    padding-inline: 30px;
  
    // Size
    height: 150px;

    // Background
    clip-path: polygon(0% 0%, 100% 0%, 100% 100px, 230px 100px, 190px 150px, 0% 150px);

  }


  /* Style homepage */
  &[currentPage='Home'] {

    // Background
    background-color: var(--background-color-main);

  }


  /* Style logo */
  & .logo {

    // Display
    display: block;

    // Size
    width: 50px;
    height: 46.625px;
  
    // Background
    background-image: url('../../images/logo_small.png');
    background-size: contain;

    // Other
    transition: none;


    // Media Query
    @media (min-width: $large-screen-size) {

      // Display
      display: block;

      // Size
      width: 150px;
      height: 109.95px;
    
      // Background
      background-image: url('../../images/logo_large.png');
      background-size: contain;

    }


    // Style :hover
    &:hover {

      /* Transform */
      transform: none;

    }
  
  }


  // Style navigation menu
  & .menu {

    // Media Query
    @media (min-width: $large-screen-size) {

      /* Position */
      margin-top: -50px;

    }


    // Style list
    & ul {

      /* Display */
      display: flex;

      // Flexbox
      gap: 20px;


      // Media Query
      @media (min-width: $large-screen-size) {
    
        /* Flexbox */
        gap: 50px;

      }


      // Style links
      & li a {

        /* Display */
        display: inline-block;
        
        /* Font */
        font-size: 24px;
        text-transform: uppercase;
        
        /* Decoration */
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

        // Media Query
        @media (min-width: $large-screen-size) {

          // Font
          font-size: 28px;

        }
      
      }

    }

    
  }


}