// Import stylesheets
@import '../style.scss';

/* Style container */
.title-container {

    /* Display */
    display: flex;

    /* Position */
    margin: 20px auto 0;

    /* Size */
    width: fit-content;
    height: fit-content;

    /* Flexbox */
    align-items: center;
    
    filter: drop-shadow(0px 0px 15px var(--background-color-main-75));

    // Media Query
    @media (min-width: $large-screen-size) {

        // Position
        margin-top: 0px;

    }

}


/* Style icon */
.title-container .icon {

    /* Size */
    width: 107px;
    aspect-ratio: 107/98;

    /* Other */
    z-index: 2;

}

.title-container .icon .image {

    /* Position */
    margin: 20% 25%;

    /* Size */
    width: 50%;

    /* Other */
    image-rendering: pixelated;
    filter:
        saturate(50%)
        sepia(50%);

}


/* Style title */
.title-container .title {

    /* Display */
    display: flex;

    /* Position */
    margin-left: -25px;
    padding-left: 30px;

    /* Size */
    width: 200px;
    height: 57.5px;

    /* Flexbox */
    align-items: center;


    & .background {

        // Position
        margin-left: -25px;

        // Size
        height: 100%;

    }

}

.title-container .title p {

    /* Font */
    color: #272727;
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: bold;

    z-index: 1;

}