// Stylesheets
@import '../../../../style.scss';



// Style modifier
.gear-modifier {

    // Display
    display: inline-block;

    // Size
    width: 100%;


    & .gear-modifier-new {

        // Display
        display: none;

        // Font
        color: #9664fd;
        font-weight: bold;

        @media (min-width: 720px) {

            // Display
            display: block;

        }

    }

}

.gear-modifier:not(:first-child) h3 {

    margin-top: -2px;

}

.gear-modifier > * {

    // Border
    border: 2px solid rgba(0, 0, 0, 0.65);

}

.gear-modifier > *:not(:first-child) {

    margin-top: -2px;

}

.gear-modifier h3 {

    // Display
    display: flex;

    // Position
    padding: 10px;

    // Size
    width: 100%;

    // Flexbox
    justify-content: space-between;

    // Color
    color:rgb(255, 255, 255);

    // Background
    background-color: rgba(0, 0, 7, 0.5);

    // Other
    cursor: pointer;


    & .gear-modifier-header-name {

        order: -1;

        @media (min-width: 720px) {

            order: 0;

        }

    }

    & .gear-modifier-header-values {

        font-weight: normal;

    }

    & .gear-modifier-odds {

        font-weight: normal;
        
    }


}

.gear-modifier h3 > span {

    // Display
    display: flex;

    // Flexbox
    gap: 7px;
    flex-direction: column;

    // Font
    font-weight: normal;


    @media (min-width: 720px) {

        // Flexbox
        flex-direction: row;

    }


    & span {

        // Font
        font-weight: bold;

    }

    &.gear-modifier-header-right {

        align-items: flex-end;

    }

    & .gear-modifier-expanded {

        // Size
        width: 10px;

        // Font
        text-align: right;

    }

    & .gear-modifier-odds {

        // Display
        display: none;

        // Font
        font-size: 17px;

        @media (min-width: 720px) {
    
            // Display
            display: block;
    
        }

    }

}

.gear-modifier div {

    // Position
    padding: 10px;

    // Color
    background-color: rgba(20, 15, 10, 0.25);

}

.gear-modifier:not(.expanded) div {

    display: none;

}

.gear-modifier .gear-modifier-data .gear-modifier-values {

    // Display
    display: flex;

    // Flexbox
    flex-direction: column;
    gap: 5px;

    // Font
    color: white;

    @media (min-width: $small-screen-size) {

        // Flexbox
        flex-direction: row;

    }

}

.gear-modifier .gear-modifier-data .gear-modifier-values .modifier-display-for-tier {

    // Font
    font-weight: bold;

    // Flexbox
    order: -1;

    @media (min-width: $small-screen-size) {

        // Flexbox
        order: 0;

    }

}

.gear-modifier .gear-modifier-data .gear-modifier-levels {

    // Font
    color: white;

}

.gear-modifier .gear-modifier-data {

    display: flex;

    justify-content: space-between;
    flex-direction: column;
    gap: 10px;

    // Media Query - Small Screen
    @media (min-width: $small-screen-size) {

        flex-direction: row;

    }


    &:not(:first-of-type) {

        border-top: none;

    }

    &:not(:last-of-type) {

        border-bottom: none;

    }

}

.gear-modifier .gear-modifier-excluding p {

    display: flex;    
    flex-direction: column;

    @media (min-width: $medium-screen-size) {

        // Flexbox
        flex-direction: row;

    }

}

.gear-modifier .gear-modifier-excluding p :first-child {

    color: white;
    text-wrap: nowrap;
    margin-right: 15px;

}

.gear-modifier .gear-modifier-excluding p :nth-child(2) {

    color: rgb(255, 35, 35);
    font-weight: bold;

}