// Stylesheets
@import '../../style.scss';


/* Style container */
.content-container {

    /* Display */
    display: flex;

    /* Position */
    margin: 30px 50vw;
    padding: 10px;

    /* Size */
    width: min(900px, 90%);

    /* Flexbox */
    align-items: center;

    /* Background */
    background-color: rgba(1, 1, 19, 0.24);

    /* Border */
    outline: 3px solid rgba(1, 1, 19, .5);

    // Transform
    transform: translateX(-50%);

    flex-wrap: wrap;
    gap: 10px;

    @media (min-width: $medium-screen-size) {

        // Position
        padding: 30px;

    }


    &.no-large {

        @media (min-width: $large-screen-size) {

            margin-block: 0;
            padding: 0;
            background: none;
            outline: none;

        }

    }


}

.content-container > * {

    flex-basis: 100%;

}