* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-main: rgb(255, 168, 0);
  --color-main-50: rgba(255, 170, 0, 0.5);
  --color-secondary: #FFE0A4;
  --color-monotone-7: #777777;
  --color-text-main: #f0e8d9;
  --color-text-secondary: #08121F;
  --background-color-main: #050e1b;
  --background-color-main-90: rgba(13, 26, 41, 0.90);
  --background-color-main-75: rgba(13, 26, 41, 0.75);
  --background-color-main-50: rgba(13, 26, 41, 0.5);
  --background-color-secondary: #08121F;
  --background-color-secondary-90: rgba(8, 18, 31, 0.90);
  --font-main: "Lato", sans-serif;
  --font-secondary: "Boogaloo", sans-serif;
  --font-title: "Permanent Marker", sans-serif;
  --large-screen-size: 1000px;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  font-family: var(--font-main);
}

ul,
li {
  list-style: none;
  margin: 0;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}