$large-screen-size: 1000px;

.icon-display-medium {

    // Display
    display: flex;

    // Position
    position: relative;

    // Size
    width: 64px;
    aspect-ratio: 1/1;

    // Flexbox
    align-items: center;
    justify-content: center;

    // Other
    image-rendering: pixelated;

    // Media Query
    @media (min-width: $large-screen-size) {

        // Size
        width: 80px;

    }

}

.icon-display-medium > .background {

    // Position
    position: absolute;

    // Size
    width: 100%;
    aspect-ratio: 1/1;

}

.icon-display-medium img:not(.background) {

    // Size
    width: 32px;
    aspect-ratio: 1/1;

    // Other
    z-index: 2;
    image-rendering: pixelated;

    // Media Query
    @media (min-width: $large-screen-size) {

        // Size
        width: 48px;

    }

}